body{

background-color: rgb(75, 75, 219);

}



#hola{

background-color: rgb(51, 53, 153);
    height: 550px;
    width: 100%;  
    margin-top: 40px;
border-radius: 20px;
}


h1{
 text-align: center;


}