@font-face {

    font-family: Qatar-2022;
    src: url(Qatar2022Arabic-Bold.ttf);

}

body 
{


    background-image: url("532836.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
    background-position-y: top;
    background-position-x: center;


}
.menu {
    background-color: white;
    color: rgb(25, 14, 99);
    height: 70px;
    border: 2px solid rgb(25, 14, 99);
    margin-top: 5px;
}
.opcio {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: rgb(25, 14, 99);
    font-family: Qatar-2022;
    font-size: larger;
    text-align: center;
}
a:hover {
    color: black;
}
#div1
 {

height:100px ;
width:100% ;
background: rgb(25, 14, 99);
border: 3px solid black;

}
.centre {
    margin-top: 15px;
    margin-bottom: 15px;
}
.columna1 {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border: 3px solid black;
}
.columna2 {
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    border: 3px solid black;
}
#name {
    color: white;
    position: absolute;
    top: 30px;
    left: 41%;
    font-family: Qatar-2022;
    
}


#logo  
{


    height: 90px;
    width: 90px;
    float: left;
    

}


#fifaLogo 
{

    height: 90px;
    width: 130px;
    float: right;


}


.peuDePagina 

{

    position: absolute;
    bottom: 0%;
    height:50px ;
    width:100% ;
    background: rgb(25, 14, 99);
    border: 3px solid black;
    margin-top: 45%;
}

.white {
    height: 200px;
}

p 
{
    padding: 20px auto auto auto;
    color: white;
    font-size: medium;
    font-family: Qatar-2022;
}

#logop {

    height: 45px;
    width: 45px;
    float: left;
}
h2 {text-align: center;font-family: Qatar-2022;}

/*rgb(25, 14, 99)*/