#div1 {
height:100px ;
width:100% ;
background: rgb(15, 73, 112);
border: 3px solid black;

}

#name {
    color: white;
position: absolute;
top: 20px;
    left: 41%;
    
    
}

#logo {

    height: 100px;
    width: 130px;
    
}