@font-face {
    font-family: Qatar-2022;
    src: url(Qatar2022Arabic-Bold.ttf);
}

#div1 {
height:100px ;
width:100% ;
background: rgb(99, 14, 14);
border: 3px solid black;
}

#name {
    color: white;
    position: absolute;
    top: 30px;
    left: 41%;
    font-family: Qatar-2022;
    
    
}
#logo {

    height: 90px;
    width: 90px;
    
}
body {
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

